/ci/assets
/ci/package
/ci/build
/ci/release
/ci/nginx/docker-compose.override.yml
**/00_local
**/.DS_Store
**/node_modules
**/*.log
**/target
**/.settings
**/.project
**/.classpath
.*.swp
__pycache__/
*.py[cod]

### Intellij ###
*.iml
.idea
