/ci/assets
/ci/package
/ci/build
/ci/release
/ci/nginx/docker-compose.override.yml
/cli
**/00_local
**/.DS_Store
**/node_modules
**/*.log
**/target
**/.settings
**/.project
.*.swp
__pycache__/
*.py[cod]
**/.*.md.html
/bin/
/.pydevproject
/.classpath
