/ci/assets
/ci/package
/ci/build
/ci/release
/ci/nginx/docker-compose.override.yml
**/.DS_Store
**/node_modules
**/*.log
**/target
**/.settings
**/.project
**/.vscode
**/.classpath
.*.swp
__pycache__/
*.py[cod]
